@import "../../utils/variables.scss";

.van-type {
  height: 34px;
  padding: 7px 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: $beige-c;
  margin-bottom: 23px;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $beige-c;
    }

    &:focus {
      outline: none;
    }
 
    &--simple {
      background-color: $salmon-c;
    }

    &--rugged {
      background-color: $blue-stone-c;
    }

    &--luxury { 
      background-color: $primary-c;
    }
  }
