@import "../../utils/variables.scss";

.vans {
  padding-inline: 23px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
  }
}

.van {
  &__link {
    color: $primary-c;
    text-decoration: none;
  }

  &__img {
    max-width: 100%;
    border-radius: 5px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
  }

  &__title {   
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem; 
  }

  &__price {
    text-align: right;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem; 

    & span {
      font-size: 14px; 
      font-weight: 500;
      display: block;
      line-height: 20px;
    }
  }  
}

