.vans {
  padding-inline: 23px
}

.vans__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van__img {
  max-width: 100%;
  border-radius: 5px;
}

.van__info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.van__title {
  margin: 0;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; 
}

.van__price {
  margin: 0;
  color: #161616;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; 
}

.van__price--for {
  font-size: 14px; 
  font-weight: 500;
  display: block;
  line-height: 20px;
}

.van__type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van__type:hover {
  color: #FFEAD0;
}

.van__type:focus {
  outline: none;
}

.van__type.selected {
  color: #FFEAD0;
}

.van__type--simple:hover, .van__type--simple.selected {
  background-color: #E17654;
}

.van__type--rugged:hover, .van__type--rugged.selected {
  background-color: #115E59;
}

.van__type--luxury:hover, .van__type--luxury.selected {
  background-color: #161616;
}

i[class*='van__type'] {
  padding: 7px 14px;
}