@import "../../utils/variables.scss";

.income {
  padding-inline: 26px;

  &__title {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  &__amount {
    font-size: 2.375rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 700;  
  }

  &__period {
    color: $gray-c;

    & span {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &__transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-c;
    margin-bottom: 30px;
    padding: 35px 30px;
    border-radius: 6px;
  }

  &__transaction-amount {
    font-size: 2.25rem;
    font-weight: 600;
  }

  &__transaction-date {
    font-size: 1.25rem;
    font-weight: 500;
    color: $gray-c;
  }
}
