@import "../../utils/variables.scss";

.van-detail {
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > a {
    align-self: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
      max-width: 950px;
  }

  &__img {
    border-radius: 5px;
    margin-bottom: 52px;
    max-width: 100%;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__description {
    margin-block: 10px 22px;
  }

  &__content > span {
    align-self: flex-start;
  }

  &__price {
    font-size: 1.25rem;
    margin-bottom: 10px;

    & span {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
  }
}

