@import "../../utils/variables.scss";

.host-van-detail {
  background-color: $white-c;
  padding: 24px;
  margin: 30px 26px;

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  &__img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
  }

  &__title {
    margin-block: 16px 5px;
    font-size: 1.625rem;
    font-weight: 700;
  }

  &__price {
    font-size: 1.25rem; 

    & span {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__nav {
    margin-bottom: 28px;
  }

  &__link {
    text-decoration: none;
    color: $gray-c;
    font-weight: 500;
    padding: 5px 20px;

    &:first-of-type {
      margin-left: -15px;
    }

    &:hover, &--active {
      color: $primary-c;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}




