@import "../../utils/variables.scss";

.header {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 36px 25px;

  &__logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.565rem;
  }

  &__link {
    text-decoration: none;
    color: $gray-c;
    font-weight: 600;
    padding: 5px 20px;

    &:hover {
      color: $primary-c;
      text-decoration: underline;
    }

    &--active {
      font-weight: bold;
      text-decoration: underline;
      color: $primary-c;
    }
  }
}


