$primary-c: #161616;
$accent-c: #FF8C38;
$accent-bg-c: #FFCC8D; 
$bg-c: #FFF7ED;
$white-c: #FFF;
$gray-c: #4D4D4D;
$light-gray-c: #AAAAAA;
$rugged-type-c: #115E59;
$simple-type-c: #E17654;
$std-type-c: #FFEAD0;