$primary-c: #161616;
$accent-c: #FF8C38;
$accent-bg-c: #FFCC8D; 
$bg-c: #FFF7ED;
$white-c: #FFF;
$gray-c: #4D4D4D;
$light-gray-c: #AAAAAA;
$blue-stone-c: #115E59;
$salmon-c: #E17654;
$beige-c: #FFEAD0;
$date-c: #8C8C8C;
$line-c: #C7C7C7;
$border-c: #D1D5DB;
$pastel-bg-c: #ffddb2;