@import "../../utils/variables.scss";

footer {
  background-color: $primary-c;
  color: $light-gray-c;
  height: 10vh;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}