@import "./utils/variables.scss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: $bg-c;
  color: $primary-c;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;  

  &::-webkit-scrollbar {
    display: none;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

.link-btn {
  display: inline-block;
  text-align: center;
  width: 50%;
  text-decoration: none;
  border: none;
  background-color: $accent-c;
  color: $white-c;
  font-size: 1.125rem;
  padding: 15px 25px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;

  &--black {
    background-color: $primary-c;
    border-radius: 10px;
  }

  &:hover {
    transform: translate(1px, 1px);
  }
}

@media (max-width: 768px) {
  .link-btn {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .link-btn {
    width: 100%;
  }
}