* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

h1, h2, p {
  margin: 0;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.565rem;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.link-btn {
  display: inline-block;
  text-align: center;
  width: 50%;
  text-decoration: none;
  border: none;
  background-color: #FF8C38;
  color: #FFF;
  font-size: 1.125rem;
  padding: 12px 22px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-btn--black {
  background-color: #161616;
  border-radius: 10px;
}


.link-btn:hover {
  transform: translate(1px, 1px);
}

@media (max-width: 576px) {
  .link-btn {
    width: 100%;
  }
}